# Ignore bundler config.
.bundle/

# Ignore Gemfile.lock
Gemfile.lock

# Ignore builded gem
*.gem

# Ignore temp files
tmp/

# Ignore Ruby version
.ruby-version

# Ignore MacOS files
.DS_Store

# Ignore coverage files
coverage/

# Ignore codegraph db
/.codegraph
